<section class="dicas">
    <div class="container">
        <div class="grid-12">
            <h2>Instruções</h2>
            <ul>
                <li>Cada QUIZ é composto por 10 questões;</li>
                <li>Cada questão tem apenas uma resposta correta;</li>
                <li>As perguntas são feitas de forma aleatória;</li>
            </ul>

            <a href="/" class="btn">Voltar ao Início</a>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>1. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>2. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>3. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>4. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>5. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>6. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>7. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>8. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>9. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="pergunta">
    <div class="container">
        <div class="grid-12">
            <h4>10. Em qual lixeira você deve jogar uma lata de refrigerante?</h4>
            <ul>
                <li> <input type="radio" name="opcao1" value="Azul"> Azul</li>
                <li> <input type="radio" name="opcao1" value="Amarelo"> Amarelo</li>
                <li> <input type="radio" name="opcao1" value="Vermelho"> Vermelho</li>
                <li> <input type="radio" name="opcao1" value="Verde"> Verde</li>
            </ul>
        </div>
    </div>
</section>

<section class="finalizar">
    <a href="#" class="btn">Finalizar</a>
</section>

<footer>
    <div class="container">
        <div class="grid-12">
            <p>Todos os direitos reservados &copy;</p>
        </div>
    </div>
</footer>